%h1.login_header
    LOGIN
%br
%br

    %div.username_header
        Username
    %br
    =text_area :username, 'Username', :cols => 15, :rows => 1, class: 'username_field'
    %br
    %div.password_header
        Password
    %br
    =text_area :password, 'Password', :cols => 15, :rows => 1, class: 'password_field'
    %br

= link_to 'LOGIN', sections_path, class: 'Login_Button', :id => "login_button"
&nbsp
&nbsp
= link_to 'Create Account', new_user_path, class: 'Create_Account_Button'
:javascript
    $(document).ready(function() {
        
    });